@using WebApplication2.Pages;

@{
    Layout = "_Layout";
}

<div class="HomePage">
    <img class="backgroundImg" src="@Url.Content("~/assets/cover_ava.jpg")" alt="cover" />
    <div class="userFormOverlay">
        <UserForm />
    </div>
</div>