@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/UserForm.css" />

<div class="HomePage">
    <img class="backgroundImg" src="~/cover_ava.jpg" alt="cover" />
    <div class='userFormOverlay'>
        <div class="container">
            <form class="form-register" method="get" action="/SelectPage">
            <div class="row">
                <div class="left-align">
                    <label class="">Đăng ký thông tin</label>
                </div>
                <div class="col-1">
                    <div class="row">
                        <!-- Input fields -->
                        <div class="col">
                            <label class="form-label" for="form-reg-name">Họ và tên</label>
                            <input class="form-control" id="form-reg-name" name="full_name" type="text" placeholder="Họ và tên" required />
                        </div>
                        <div class="col">
                            <label class="form-label" for="form-reg-phonenumber">Số điện thoại</label>
                            <input class="form-control phone-input" id="form-reg-phonenumber" name="phone" type="text" placeholder="Số điện thoại" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="form-reg-Email">Email</label>
                            <input class="form-control" id="form-reg-Email" name="email" type="email" placeholder="Email" required />
                        </div>
                        <div class="col">
                            <label class="form-label" for="form-reg-work">Bạn hiện đang là?</label>
                            <select class="form-select form-select-default age-options" id="form-reg-work" name="job" required>
                                <option value="" selected disabled hidden>Lựa chọn</option>
                                <option value="volvo">Học sinh cấp 2</option>
                                <option value="saab">Học sinh cấp 3</option>
                                <option value="mercedes">Sinh viên</option>
                                <option value="audi">Người đi làm</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button id="pageSwitch" class="button" type="submit">Tiếp tục</button>
            </div>
        </form>
    </div>
    </div>
</div>
