.head_container {
    background-color: white;
    border :1px solid;
}



.col-6 {
    text-align: center;
    font-size: 40px;
}

.col-3 {
    background-color: darkgray;
}

.menu_title p { 
    font-size: 20px;
    text-align: center;
}

.menu_item a {
    text-decoration: none;
    color: black;
    margin-bottom: 25px;
}

    .menu_item a:hover {
        background-color: slategray;
    }

.list_container {
    padding: 5px;
}

    .list_container .title {
        font-size: 2em;
        font-weight: bold;
    }

    .list_container .data_grid {
        margin-top: 2px;
    }

        .list_container .data_grid table {
            border: 1px solid blue;
            width: 100%;
        }

            .list_container .data_grid table tr {
                border: 1px solid blue;
            }

            .list_container .data_grid table th {
                border: 1px solid blue;
                font-weight: bold;
                font-size: 1,2em;
                text-align: center;
            }

            .list_container .data_grid table td {
                border: 1px solid blue;
            }
.userFormOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.form-register {
    font-weight: bold;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 7%;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.form-select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row1 {
    margin-bottom: 10px;
}

.col {
    margin-left: 20px;
}

.col-1 {
    flex: 4;
}
